    - name: Compiler (LLVM-Clang Only)
      uses: Joshua-Ashton/arch-mingw-github-action@v8
      with:
        command: |
          # 1. Install Clang
          sudo pacman -S --noconfirm mingw-w64-x86_64-clang

          # 2. Fix Mandatory Headers (Build will fail without these)
          cp -r include/vulkan /usr/x86_64-w64-mingw32/include/
          cp -r include/spirv /usr/x86_64-w64-mingw32/include/

          # 3. Patch Variables (Required for Mali source code)
          cat <<EOF > mali_patch.txt
          wrc_generator = generator(find_program('windres'), output: '@BASENAME@.res', arguments: [ '@INPUT@', '@OUTPUT@' ])
          dll_ext = '.dll'
          def_spec_ext = '.def'
          lib_dxgi = declare_dependency(link_args: ['-ldxgi'])
          lib_d3d11 = declare_dependency(link_args: ['-ld3d11'])
          EOF
          sed -i '1r mali_patch.txt' meson.build
          
          # 4. Use LLVM Compiler
          export CC="clang"
          export CXX="clang++"

          # 5. Build
          mkdir -p ./src/dxvk && echo '#define DXVK_VERSION "Mali-LLVM"' > ./src/dxvk/dxvk_version.h
          chmod +x package-release.sh
          ./package-release.sh master build --no-package
