name: Build and Upload

on: [push, pull_request, workflow_dispatch]

jobs:
  mali-build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Compiler
      uses: Joshua-Ashton/arch-mingw-github-action@v8
      with:
        command: |
          # 1. Install Vulkan Headers & Loader (Crucial fix for vulkan.h error)
          sudo pacman -S --noconfirm mingw-w64-x86_64-vulkan-headers mingw-w64-x86_64-vulkan-loader

          # 2. Master Variable Patch (Fixes "Unknown variable" errors)
          cat <<EOF > mali_patch.txt
          wrc_generator = generator(find_program('windres'), output: '@BASENAME@.res', arguments: [ '@INPUT@', '@OUTPUT@' ])
          dll_ext = '.dll'
          def_spec_ext = '.def'
          lib_dxgi = declare_dependency(link_args: ['-ldxgi'])
          lib_d3d11 = declare_dependency(link_args: ['-ld3d11'])
          lib_d3d9 = declare_dependency(link_args: ['-ld3d9'])
          EOF
          sed -i '1r mali_patch.txt' meson.build
          
          # 3. Build the DLLs
          mkdir -p ./src/dxvk && echo '#define DXVK_VERSION "Mali-Universal"' > ./src/dxvk/dxvk_version.h
          chmod +x package-release.sh
          ./package-release.sh master build --no-package

    - name: Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: dxvk-mali-universal
        path: build/dxvk-master
