name: Build and Upload

on: [push, pull_request, workflow_dispatch]

jobs:
  mali-build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Compiler
      uses: Joshua-Ashton/arch-mingw-github-action@v8
      with:
        command: |
          # Install headers so the compiler understands Vulkan
          sudo pacman -S --noconfirm vulkan-headers
          
          # Fix the Mali fork's internal missing links
          PATCH="wrc_generator = generator(find_program('windres'), output: '@BASENAME@.res', arguments: [ '@INPUT@', '@OUTPUT@' ])\n"
          PATCH+="dll_ext = '.dll'\n"
          PATCH+="def_spec_ext = '.def'\n"
          PATCH+="lib_dxgi = declare_dependency(link_args: ['-ldxgi'])\n"
          PATCH+="lib_d3d11 = declare_dependency(link_args: ['-ld3d11'])\n"
          PATCH+="lib_d3d9 = declare_dependency(link_args: ['-ld3d9'])"
          sed -i "2i $PATCH" meson.build
          
          # Compile the DLLs
          mkdir -p ./src/dxvk && echo '#define DXVK_VERSION "Mali-Universal"' > ./src/dxvk/dxvk_version.h
          chmod +x package-release.sh
          ./package-release.sh master build --no-package

    - name: Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: dxvk-mali-universal
        path: build/dxvk-master
