      - name: Build Turbo Version
        run: |
          mkdir -p ./build_output
          
          # Flags with your custom branding
          FLAGS="-O3 -ffast-math -shared -static -static-libgcc -static-libstdc++ \
                 -DDXVK_VERSION=\"\\\"DXVK-Mali async Pre-release1\\\"\" \
                 -DDXVK_FEATURE_LEVEL=11_0 \
                 -DROMULUS_CLIP_DISTANCE=0"
          
          # Updated INCLUDES to find the d3d8 source files
          INCLUDES="-I./include -I./include/vulkan -I./include/spirv -I./src/dxgi -I./src/d3d11 -I./src/d3d9 -I./src/d3d8 -I./src/util -I./src/dxvk -I./src/common"
          
          echo "Compiling d3d8 (Legacy Support)..."
          x86_64-w64-mingw32-g++ $FLAGS $INCLUDES -o ./build_output/d3d8.dll ./src/d3d8/d3d8_main.cpp && \

          echo "Compiling dxgi..."
          x86_64-w64-mingw32-g++ $FLAGS $INCLUDES -o ./build_output/dxgi.dll ./src/dxgi/dxgi_main.cpp && \

          echo "Compiling d3d11..."
          x86_64-w64-mingw32-g++ $FLAGS $INCLUDES -o ./build_output/d3d11.dll ./src/d3d11/d3d11_main.cpp && \

          echo "Compiling d3d9..."
          x86_64-w64-mingw32-g++ $FLAGS $INCLUDES -o ./build_output/d3d9.dll ./src/d3d9/d3d9_main.cpp
